apiVersion: apps/v1
kind: Deployment
metadata:
  name: pi-hole
  namespace: pi-hole
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pi-hole
  template:
    metadata:
      labels:
        app: pi-hole
    spec:
      dnsPolicy: "None"
      dnsConfig:
        nameservers:
          - 1.1.1.1
          - 8.8.8.8
      containers:
        - name: pi-hole
          image: docker.io/pihole/pihole:2025.03.0
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          env:
            - name: TZ
              value: "America/New_York"
            - name: FTLCONF_webserver_api_password
              valueFrom:
                secretKeyRef:
                  name: pi-hole-secret
                  key: password
            - name: DNSMASQ_LISTENING
              value: "all"
            # - name: FTLCONF_dns_hosts
            #   value: "10.0.0.243 argo.lan;10.0.0.243 ha.lan;"
          ports:
            - containerPort: 53
              protocol: TCP
            - containerPort: 53
              protocol: UDP
            - containerPort: 80
              protocol: TCP
          volumeMounts:
            - name: pihole-data
              mountPath: /etc/pihole
            - name: dnsmasq-data
              mountPath: /etc/dnsmasq.d
            - name: custom-dnsmasq
              mountPath: /etc/dnsmasq.d/02-custom.conf
              subPath: 02-custom.conf
      volumes:
        - name: pihole-data
          emptyDir: {}
        - name: dnsmasq-data
          emptyDir: {}
        - name: custom-dnsmasq
          configMap:
            name: pi-hole-custom-dnsmasq
