apiVersion: v1
kind: Service
metadata:
  name: coredns-loadbalancer
  namespace: kube-system
  annotations:
    metallb.io/loadBalancerIPs: 10.0.0.240
spec:
  type: LoadBalancer
  selector:
    k8s-app: kube-dns
  ports:
    - name: dns-tcp
      port: 53
      targetPort: 53
      protocol: TCP
    - name: dns-udp
      port: 53
      targetPort: 53
      protocol: UDP
