apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    additionalArguments:
      - "--providers.kubernetesgateway=true"
    service:
      type: LoadBalancer
      annotations:
        metallb.io/loadBalancerIPs: 10.0.0.243
      ports:
        web:
          port: 80
          expose: true
        websecure:
          port: 443
          expose: true
