# Documentation for Traefik Helm chart can be found at https://doc.traefik.io/traefik/getting-started/install-traefik/#helm-chart
# I referenced https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml
traefik:
  deployment:
    enabled: true

  ports:
    web:
      port: 80
      exposedPort: 80
      nodePort: 30000
      http:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
    websecure:
      port: 443
      exposedPort: 443
      nodePort: 30001
    traefik:
      port: 9000
      targetPort: 9000
      nodePort: 30002

  # Enables the dashboard in Secure Mode
  api:
    dashboard: true
    insecure: true

  # We will route with Gateway API instead.
  ingressClass:
    enabled: false

  # Enable Gateway API Provider & Disables the KubernetesIngress provider
  # Providers tell Traefik where to find routing configuration.
  providers:
    kubernetesIngress:
      enabled: false
    kubernetesGateway:
      enabled: true

  gateway:
    enabled: true
    name: traefik-gateway
    namespace: traefik
    listeners:
      web:
        protocol: HTTP
        port: 80
        namespacePolicy:
          from: All
      websecure:
        protocol: HTTPS
        port: 443
        namespacePolicy:
          from: All
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: argo-lan-tls
            namespace: traefik
          - kind: Secret
            name: pihole-lan-tls
            namespace: traefik
          - kind: Secret
            name: ha-lan-tls

  service:
    type: LoadBalancer
    annotations:
      metallb.io/loadBalancerIPs: 10.0.0.243

  logs:
    general:
      level: INFO
    access:
      enabled: true

  # Enables Prometheus for Metrics
  metrics:
    prometheus:
      enabled: true
  