# Documentation for Traefik Helm chart can be found at https://doc.traefik.io/traefik/getting-started/install-traefik/#helm-chart
# I referenced https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml
traefik:
  deployment:
    enabled: true

  additionalArguments:
    - "--entrypoints.websecure.forwardedHeaders.insecure=true"

  providers:
    kubernetesGateway:
      enabled: true

  ports:
    web:
      port: 8000
      exposedPort: 80
      nodePort: 30000
      http:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
    websecure:
      port: 8443
      exposedPort: 443
      nodePort: 30001

  # Enables the dashboard in Secure Mode
  api:
    dashboard: true
    insecure: false

  ingressRoute:
    dashboard:
      enabled: true
      matchRule: Host(`dashboard.docker.localhost`)
      entryPoints:
        - websecure
      middlewares:
        - name: dashboard-auth

  # Creates a BasicAuth Middleware and Secret for the Dashboard Security
  extraObjects:
    - apiVersion: v1
      kind: Secret
      metadata:
        name: dashboard-auth-secret
      type: kubernetes.io/basic-auth
      stringData:
        username: admin
        password: "P@ssw0rd"      # Replace with an Actual Password
    - apiVersion: traefik.io/v1alpha1
      kind: Middleware
      metadata:
        name: dashboard-auth
      spec:
        basicAuth:
          secret: dashboard-auth-secret

  gateway:
    enabled: true
    name: traefik-gateway
    namespace: traefik
    listeners:
      web:
        protocol: HTTP
        port: 8000
        namespacePolicy:
          from: All
      websecure:
        protocol: HTTPS
        port: 8443
        namespacePolicy:
          from: All
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: argo-lan-tls
            namespace: traefik
          - kind: Secret
            name: pihole-lan-tls
            namespace: traefik
          - kind: Secret
            name: ha-lan-tls

  service:
    type: LoadBalancer
    annotations:
      metallb.io/loadBalancerIPs: 10.0.0.243

  logs:
    general:
      level: INFO
    access:
      enabled: true
  