traefik:
  deployment:
    enabled: true

  gateway:
    enabled: true

  providers:
    kubernetesGateway:
      enabled: true

  ports:
    web:
      port: 8000
      exposedPort: 80
      protocol: TCP
    websecure:
      port: 8443
      exposedPort: 443
      protocol: TCP

  service:
    type: LoadBalancer
    annotations:
      metallb.io/loadBalancerIPs: 10.0.0.243

  logs:
    general:
      level: DEBUG #TODO: Change to INFO after debugging is complete

gateway:
  name: traefik-gateway
  listeners:
    web:
      protocol: HTTP
      port: 80
      allowedRoutesFrom: All
    websecure:
      protocol: HTTPS
      port: 443
      allowedRoutesFrom: All