# Documentation for Traefik Helm chart can be found at https://doc.traefik.io/traefik/getting-started/install-traefik/#helm-chart
# I referenced https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml
traefik:
  deployment:
    enabled: true

  providers:
    kubernetesGateway:
      enabled: true

  ports:
    web:
      port: 8000
      exposedPort: 80
      protocol: TCP
    websecure:
      port: 8443
      exposedPort: 443
      protocol: TCP

  gateway:
    enabled: true
    name: traefik-gateway
    namespace: traefik
    listeners:
      web:
        protocol: HTTP
        port: 8000
        namespacePolicy:
          from: All
      websecure:
        protocol: HTTPS
        port: 8443
        namespacePolicy:
          from: All
        tls:
          mode: Terminate
        certificateRefs:
          - kind: Secret
            name: argo-lan-tls
            namespace: traefik

  service:
    type: LoadBalancer
    annotations:
      metallb.io/loadBalancerIPs: 10.0.0.243

  logs:
    general:
      level: DEBUG #TODO: Change to INFO after debugging is complete
  