apiVersion: v1
kind: Service
metadata:
  name: nginx-ingress-controller
  namespace: nginx
spec:
  type: LoadBalancer
  selector:
    app: nginx-ingress-controller
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
    - name: https
      port: 443
      targetPort: 443
      protocol: TCP
