apiVersion: apps/v1
kind: Deployment
metadata:
  name: tailscale-subnet-router
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tailscale-subnet-router
  template:
    metadata:
      labels:
        app: tailscale-subnet-router
    spec:
      containers:
        - name: tailscale
          image: ghcr.io/tailscale/tailscale:latest
          env:
            - name: TS_AUTHKEY
              valueFrom:
                secretKeyRef:
                  name: operator-oauth
                  key: client_secret
            - name: TS_HOSTNAME
              value: home-k8s-connector
            - name: TS_ROUTES
              value: 10.0.0.0/24
            - name: TS_EXTRA_ARGS
              value: --advertise-tags=tag:k8s
            - name: TS_USERSPACE
              value: "false"
            - name: TS_STATE_DIR
              value: /var/lib/tailscale
            - name: TS_KUBE_SECRET
              value: ""
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
                - NET_RAW
          volumeMounts:
            - name: tailscale-state
              mountPath: /var/lib/tailscale
      volumes:
        - name: tailscale-state
          emptyDir: {}