apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingresses
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/ryanhodge240/HomeLab
    targetRevision: main
    path: ingresses
  destination:
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
